.container {
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-inline: auto;
}

.loading {
  color: white;
}

.card {
  background-color: var(--bg-secondary);
  text-align: center;
  max-width: 93%;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.card-heading {
  letter-spacing: 3px;
  color: var(--text-secondary);
  margin-block: 2em;
  text-transform: uppercase;
  font-size: 0.67rem;
}

.advice {
  font-size: 1.5rem;
  color: var(--text-primary);
  font-weight: 800;
  margin-bottom: 1.3em;
}

.advice::before {
  content: "\201C";
}

.advice::after {
  content: "\201D";
}

.divider {
  display: flex;
  justify-content: center;
}

button {
  margin: -1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 300px;
  border: 0;
  background-color: var(--text-secondary);
  display: grid;
  margin-inline: auto;
  transform: translateY(60%);
  place-items: center;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 2rem var(--text-secondary);
}
