*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-extra: hsl(217, 19%, 38%);
  --bg-secondary: hsl(217, 19%, 24%);
  --bg-primary: hsl(218, 23%, 16%);

  --text-primary: hsl(193, 38%, 86%);
  --text-secondary: hsl(150, 100%, 66%);
}

body {
  background-color: var(--bg-primary);
  font-family: "Manrope";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
